/* This is my grid. */
.box {
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
}

.lotsOfBoxes {
    background-color: white;
    lum = -0.5;
}

body {
    background-color: rgb(255, 136, 108);
}

#reset {
    margin-left: 44%;
}

.title {
    margin-left: 44%;
}